<div class='text-center'>
  <h2>{{recipe_name}}</h2>
  <p>{{recipe_ingredients}}</p>
  <p class="recipe-list">{{recipe_instructions}}</p>
  <p>Created by {{user.name}} on {{format_date created_at}}</p>
</div>



{{!-- <div class='text-center'>
  <h2>{{recipe_name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{recipe_ingredients}}</p>
   <p class="recipe-list">{{recipe_instructions}}</p>
  <p>Created by {{user.name}} on {{format_date createDate}}</p>
  

 
</div> --}}