<div class='text-center'>
  <h2>{{recipe_name}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <p>{{recipe_ingredients}}</p>
   <p class="recipe-list">{{recipe_instructions}}</p>
  <p>Created by {{user.name}} on {{createDate}}</p>
  

 
</div>