<div class='text-center'>
  <h2><a href="/recipe/{{id}}">{{recipe_name}}</a></h2>
  <p>{{ingredients}}</p>
  <p class='recipe-list'>{{instructions}}</p>
  <p>Created by {{user.name}} on {{format_date createDate}}</p>
</div>
