<div class='text-center'>
  <h1>{{recipe_name}}</h2>
  <br>
  <h4>Ingredients:</h4>
  <p>{{ingredients}}</p>
  <br>
  <h4>Instructions:</h4>
  <p>{{instructions}}</p>
  <br>
  <p><i>Created by {{user.name}} on {{format_date createDate}}</i></p>
</div>